body {
  margin: 20px;
}

.App {
  display: grid;
  grid-template-columns: 70px 70px;
  grid-gap: 10px;
}

.stopLight {
  display: grid;
  grid-template-columns: 70px;
  /* border: solid red 1px; */
  text-align: center;
}

.light {
  border: solid black 1px;
  padding: 10px;
  height: 40px;
  width: 40px;
}

.light .core {
  vertical-align: middle;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
